
<!-- BREADCRUMB-->
 <section class="au-breadcrumb m-t-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span col-m-3">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- END BREADCRUMB-->

<div class="panel panel-border panel-primary m-t-20">
    
	<div class="panel-heading">
        <div class="clearfix">
		    <h4> <i class="zmdi zmdi-account-calendar m-3"></i> User Data
		    <button class="btn btn-primary float-right m-3" ng-click="form.addEdit(this)">Add</button>
            </h4>
        </div>
	</div>
    <hr>
    
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
                <div class="table-responsive table--no-card m-b-30"> 
                    
				<table id="sp_profile" class="table table-borderless table-striped table-earning">
                    <tr>
                    <tbody>
						<th>No.</th>
						<th>Firstname</th>
						<th>Middlename</th>
						<th>Lastname</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Appointment Status</th>
                        <th>Username</th>
                        <th>Mailing Address</th>
						<th>Actions</th>
                    </tbody>
                    </tr>
					<tbody>
						<tr ng-repeat="data in sp_profiles">
							<td>{{data.$index+1}}</td>
							<td>{{data.firstname}}</td>
							<td>{{data.middlename}}</td>
                            <td>{{data.lastname}}</td>
                            <td>{{data.department}}</td>
							<td>{{data.position}}</td>
                            <td>{{data.appoinment_status}}</td>
                            <td>{{data.username}}</td>
                            <td>{{data.email_add}}</td>
                            <td>
                            <button class="item" data-toggle="tootltip" data-placement="top" title data-original-title="Edit" ng-click="form.addEdit(this,data)"><i class="zmdi zmdi-edit"></i></button>
							<button class="item" data-toggle="tooltip" data-placement="top" title data-original-title="Delete" ng-click="form.delete(this,data)"><i class="zmdi zmdi-delete"></i></button>
							&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
					</tbody>
                </table>
                </div>
			</div>
		</div>
	</div>
</div>


</div>